/* Fonts */
@font-face {
    font-family: "SharpSans";
    src:
      url("./assets/fonts/EOT/SharpSansDispNo1-Medium.eot") format("opentype"),
      url("./assets/fonts/WOFF/SharpSansDispNo1-Medium.woff") format("woff");
}
#canvas canvas{
    display: block;
    position: fixed;
    top:0;
    left:0;
    opacity: 0.1;
    mix-blend-mode: color-dodge;
    pointer-events: none;
    z-index: 3;
}
body{
    margin:0;
    padding:0;
    background-color: black;
    color:white;
    font-family: "SharpSans",sans-serif;
    font-size:20px;
}

h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
h1{
    font-size:64px;
}
/* Header */
header{
    padding: 30px;
    position:fixed;
    top:0;
    left:0;
    width: calc(100vw - 60px);
    height: calc(100vh - 60px);
    overflow: hidden;
    z-index: 0;
}
header video{
    position:absolute;
    min-width: 100vw;
    min-height: 100vh;
    height: 100vh;
    opacity: 0.5;
    pointer-events: none;
    left:0;
    top:0;
}
/* LOGO */
#logo{
    position:fixed;
    z-index: 9;
}
#logo a{
    text-decoration: none;
    color:inherit
}
#logo h1{
    font-size: 40px;
    margin:0;
    line-height: 1;
    position: fixed;
}
#logo h1:first-child{
    transform-origin: top right;
    transform: translateX(-100%) rotate(-90deg);
    left:30px;
    top:32px;
}
#logo h1:last-child{
    left:calc(45px + 40px);
    top:30px;
}

/* Introduction */

header #intro{
    position: absolute;
    z-index: 2;
    padding-left: 410px;
    margin-top:80px;
    padding-right:50px;
}
header #intro p{
    max-width: 800px;
}
/* footer */

footer{
    position:fixed;
    bottom:0;
    height: 225px;
    max-width: calc(100% - 80px);
    right:0;
    background-color: black;
    z-index: 9;
}

footer h4{
    cursor: pointer;
    transform-origin: top right;
    position:absolute;
    transform: rotate(-90deg);
    top: -16px;
    left: -200px;
}
footer div{
    transition:0.2s;
    margin-left: 40px;
    max-width: 0;
}
footer.on div{
    max-width: 1000px;
}
footer div p{
    margin:0;
    max-width: 600px;
    padding: 30px;
}
footer a{
    display: inline-block;
    padding: 10px;
    border:1px solid;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
footer a:hover{
    cursor: pointer;
    background-color: rgb(25, 24, 24);
}
/*main*/

main{
    background-color: black;
    min-height: 500px;
    position:relative;
    z-index:4;
    margin-top: 100vh;
    padding: 87px;
}

/* Gallery */
#gallery{
    display: flex;
    flex-wrap: wrap;    
}

#gallery .artist{
    display: flex;
    margin-right: 60px;
    flex-direction: column;
    width: auto;
    flex-basis:calc(33% - 40px);
    color:inherit;
    text-decoration: none;
    cursor: pointer;
    margin-top: 60px;
}
#gallery .artist:hover{
    opacity: 0.6;
}
#gallery .artist:nth-child(3n){
    margin-right:0;
}
#gallery .artist img{
    width: calc(100%);
}
